
{% extends 'chat/base.html' %}
{% block title %}Chat Lobby{% endblock %}

{% block content %}
    <h2>Join a chat room</h2>
    <input id="room-name-input" type="text" style="width: 70%; padding: 10px;" placeholder="Enter room name (e.g, sports, coding)">
    <input id="room-name-submit" type="button" value="Enter Room" style="padding: 10px 20px; background: #2980b9; color: white; border: none; cursor: pointer; border-radius: 5px;">

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) document.querySelector('#room-name-submit').click();
        };
        document.querySelector('#room-name-submit').onclick = function(e){
            var roomName = document.querySelector('#room-name-input').value;
            if (roomName) window.location.pathname = '/chat/' + roomName + '/';
            else alert("Please enter a room name!");
        };
    </script>
{% endblock %}

